
/** General page styling **/
html, body {
	height: 100%;
	  /* fallback */
	background: #fff;

	
}

#main {
  margin:1% 0;
  position: relative;
}

header {
	margin: 0% 0 0 0 ;
	padding: 0% 0 0% 0;
	background: #222;
	height: 3em;
}

header h1  {

  display: inline;
  font-weight: bold;

color: #eee;
  margin: 0% 0 0% 0;
font-size: inherit;



}


#container header a {
	text-decoration: none;
	color: #f0f0f0;

}

header h1 img {
	margin-left: 1%;
	margin: 0 0 0.2% 1%;
}

#container header h1 a:hover {
	opacity: .8;

}

/**
 * Grid container
 */
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
#tiles li {
  max-width: 200px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; 
  cursor: pointer;
  padding: 4px;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
	width: 100%;
}

/**
 * Grid item text
 */
#tiles li p {
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}

#tiles li a {
	text-decoration: none;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}


#footer {
	margin: 0;
	padding: 2%;
	text-align: center;
	color: #666;
}

#footer a {
color: #666;	
}


/*TAKEN FROM STYLE.CSS*/

#main {
  overflow: hidden;
}

/**
 * Grid items animation
 */
#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

/**
 * Filters
 */
#filters {
  list-style-type: none;;
  margin: 0% 0%;
  padding: 1%;
  color: #ccc;

  text-align: center;

  /* fallback */
  background-color: #222;



  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#333));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #222, #333);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #222, #333);

  /* IE 10 */
  background: -ms-linear-gradient(top, #222, #333);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #222, #333);


}

#filters li {
  display: inline;
  padding: 0%;
  cursor: pointer;
	margin-right: 1%;

}


#filters li:hover {
	color: #777;
}

#filters li.active {
	color: #777;
}
/*Media Queries - always at bottom*/


/* Small Resolution ---s--*/
@media screen and (max-width: 480px) {
	header {
		height: 100%;
	}

	h1 {

	}

	#filters {	

		margin: 0;
		padding: 1% 0;}
		
	#filters li  {
		font-size: 2em;
		width: 100%;
		display: block;
		padding: 0;
		margin: 0;
	}
}

/*Medium Resolution*/
@media screen and (max-width: 1024px) {
	
	header {
		height: 100%;
	}
	#filters li  {
	font-size: 1.1em;
	}	
}