
/** General page styling **/
html, body {
  background-color: #eee;

	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#main {
  margin:1% 0;
  position: relative;
}

header {
	background: #111;
	margin: 0% 0 0 0 ;
	padding: 1% 0 1% 0;
}

header h1 {
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0% 0 0% 0;
  font-family: monospace;
  letter-spacing: 2px;
  padding: 0%;

}

#container header h1 a {
	text-decoration: none;
	color: #eee;
	text-transform: lowercase;	
}

#container header h1 a:hover {
	opacity: .8;

}

/**
 * Grid container
 */
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
#tiles li {
  max-width: 200px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; 
  cursor: pointer;
  padding: 4px;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
	width: 100%;
}

/**
 * Grid item text
 */
#tiles li p {
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}

#tiles li a {
	text-decoration: none;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}


#footer {
	margin: 4% 1%;
	text-align: center;
	color: #666;
}

#footer a {
color: #666;	
}


/*TAKEN FROM STYLE.CSS*/

#main {
  overflow: hidden;
}

/**
 * Grid items animation
 */
#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

/**
 * Filters
 */
#filters {
  list-style-type: none;

  margin: 2% 0% 0% 1%;
	font-size: 1em;
  text-transform: lowercase;
}

ol  li {

  display: inline;
  padding: 0.5%;
  cursor: pointer;

  margin: 1%;
  width: 0%;
  color: #222;


}


#filters li:hover {

  background: #ccc;
}

#filters li.active {

	 font-weight: bold;

}



/*Media Queries - always at bottom*/


/* Small Resolution ---s--*/
@media screen and (max-width: 480px) {
	h1 {
		font-size: 1.5em !important;
		letter-spacing: 3px !important;
	}

	
	#filters li  {
		display: inline;
		float: none;
		font-size: 2em;
		margin: 1%;


	}
}

/*Medium Resolution*/
@media screen and (max-width: 1024px) {
	
	#filters li  {
		display: inline;
		float: none;
		font-size: 1.5em;
		margin-right: 2%;


	}
	
}